In [22]:
import pandas as pd
from decimal import Decimal

In [23]:
def decimal_from_value(value):
    return Decimal(value)

In [24]:
pd.set_option("display.precision", 4)
pd.options.display.float_format = "{:,.4f}".format


df_D00 = pd.read_csv("BO10_20191230.TCL", decimal=".", header=None, 
                     converters={1: int, 3:str, 6:int, 7:int, 9:str, 11:decimal_from_value, 13:decimal_from_value, 15:decimal_from_value, 16:int, 17:int })

df_D00.rename(columns={11:'ocy_Val'}, inplace=True)
df_D00.rename(columns={4:'prod'}, inplace=True)

df_D00

,0,1,2,3,prod,5,6,7,8,9,10,ocy_Val,12,13,14,15,16,17,18
0,CL,20191230,BO10,016,HIP300,F90001071539,20191230,124691032,D,018,+,0.0000,+,4087086.00,+,0.00,43,43,nan
1,CL,20191230,BO10,016,HIP300,F90001394222,20191230,124611032,D,001,+,562.8215,+,12635568.00,+,0.00,56,56,nan
2,CL,20191230,BO10,016,HIP300,F90001920820,20191230,124661032,D,009,+,0.0000,+,115142.00,+,0.00,56,56,nan
3,CL,20191230,BO10,016,HIP300,F90002304219,20191230,124691032,D,018,+,0.0000,+,3755714.00,+,0.00,165,165,nan
4,CL,20191230,BO10,016,HIP300,F90002381051,20191230,124661032,D,009,+,0.0000,+,79763.00,+,0.00,128,128,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419913,CL,20191230,BO10,016,PLC300,F90001545166,20191230,120515083,D,001,+,806.1408,+,18386089.00,+,0.00,123,123,nan
419914,CL,20191230,BO10,016,HIP300,F90001552243,20191230,124611032,D,001,+,1604.2873,+,36589847.00,+,0.00,60,60,nan
419915,CL,20191230,BO10,016,HIP300,F90002591900,20191230,124611032,D,001,+,1923.3771,+,52147966.00,+,0.00,365,365,nan
419916,CL,20191230,BO10,016,HIP300,F90002905514,20191230,124611032,D,001,+,3100.0000,+,87465973.00,+,0.00,253,253,nan
419917,CL,20191230,BO10,016,HIP300,F90002857226,20191230,124691032,D,018,+,0.0000,+,1258037.00,+,0.00,54,54,nan

In [25]:

df_D00.groupby('prod')['ocy_Val'].sum()

prod
HIP300    12392963564.4191
PLC300    29938667407.7631
Name: ocy_Val, dtype: object